; - Default configuration ------------------------
; ------------------------------------------------
[default]
; View template configs
view.layout = "layout"

; DB connection configs
db.host = "localhost"
db.database = "bucketlists"

; - Domain specific configuration ----------------
; ------------------------------------------------
[api.bucketlists.dev]
; DB connection configs
db.user = "bucketlists"
db.password = "bucketlists"
